/* universal always kora lgbe */
/* *{
    margin: 0px;
    padding: 0px;
} */

/* nav er kaj */

nav{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0px auto;
    /* padding: 160px; */
    height: 100px;
    color: #F5F5F5;
    align-items: center;
    
   }

/* nav button */

nav button{
    width: 116px;
    height: 50px;
    border-radius: 8px;
    color: #006A50;
    background-color: white;
    margin:0 auto;
    font-size: 18px;
    font-weight: 600;
}

.nav-title{
    height: 38px;
    width: 222px;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 0 auto;
}

/* 1st banner */

.banner-section{
    background-color: #C6E4D6;
    max-width: 1280px;
    height: 560px;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-section{
    padding: 34px;
    width: 48%;
}


.left-section p{
    color: #0E0E0E;
    font-size: 24px;
    height: 28px;
    width: 48%;
    margin-top:10px ;
    
}

.left-section h1{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    height: 201px;
    width: 622px;
    margin-top: 10px;
    
  
    
}

.left-section button{
    background-color: #006A50;
    color: #FFFFFF;
    width: 270px;
    height: 56px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;  

}

.right-section{
  width: 48%;
  height: 400px;
  padding: 64px;
}

/* main style */
.main-container{
    max-width: 1280px;
    height: 244px;
    margin: 0px auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

}

.child{
   background-color: #FFFFFF;
   border: 1px solid gray;
   border-radius: 16px;
   padding: 20px;
   width: 302px;
   /* height: 245px; */
   text-align: left;

   
}
.child img{
    width: 62px;
    height: 62px;
    margin: 10px 0px;
    
}
.child h2{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    width: 254px;
    height: 24px;
}

.child p{
    width: 254px;
    height: 72px;
    font-size: 16px;
    color:#0E0E0E ;
}